{
    "presets": [
    ["env",{
        "targets": {
            "node": "current"
           }
    }
    ]
    ],
    "plugins": [["babel-plugin-dotenv", {
        "replacedModuleName": "babel-dotenv"
     }]]
}